@import "./animations.scss";
.about {
  width: 100%;
  border: $border-style;
  display: flex;
  flex-direction: column;

  // // animations
  &.hidden {
    opacity: 0;
    animation: fadeOut 1s;
    // height: 0;
    // margin-top: -8px;
    // border: transparent;
    // position: relative;
		// z-index: -1;
  }
  &.visible {
    opacity: 1;
    animation: fadeIn 2s;
  }

  .about-main {
    display: flex;
    font-size: $big-body-font-size;
    img {
      border-right: $border-style;
      object-fit: cover;
    }
    .about-text {
      flex: 1;
      padding: $big-body-padding;
      margin: 0;
      // display: inline-block;
      // overflow: auto;
    }
  }
  .contact {
    border-top: $border-style;
    padding: $big-body-padding;
    display: grid;
    grid-template-columns: minmax(120px, auto) 1fr minmax(120px, auto) 1fr;
    gap: 26px;
    .contactItem {
      font-size: $contact-label-font-size;
      display: flex;
      // justify-content: space-between;
      .type {
        text-transform: uppercase;
        font-weight: $contact-label-font-weight;
      }
      .value {
        flex-grow: 1;
        font-family: $contact-value-font-family;
        font-size: $contact-value-font-size;
        letter-spacing: $contact-value-letter-spacing;
        color: inherit;
        text-decoration: none;
        line-break: anywhere;
      }
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: $sm-mobile-max) and (max-width: $sm-desktop-max) {
  .about {
    .contact {
      grid-template-columns: minmax(200px, auto) 1fr;
    }
  }
}

/* Phones */
@media (max-width: $sm-mobile-max) {
  .about {
    border: none;
    .about-main {
      flex-direction: column;
      font-size: $big-body-mobile-font-size;
      img {
        max-height: 320px;
        border-right: none;
        border-top: $border-style;
      }
      .about-text {
        border-top: $border-style;
        padding: $big-body-mobile-padding;
      }
    }
    .contact {
      grid-template-columns: minmax(100px, auto) 1fr;
      @media (max-width: 360px) {
        grid-template-columns: none;
        gap: 0;
      }
      .type {
        font-size: $contact-label-mobile-font-size;
      }
      .value {
        font-size: $contact-value-mobile-font-size;
        padding-bottom: 24px;
      }
    }
  }
}
