@import "./animations.scss";
.about {
  width: 100%;
  // border: $border-style;
  // border-bottom: none;
  display: flex;
  flex-direction: column;

  // // animations
  &.hidden {
    opacity: 0;
    animation: simpleFadeOut $animation-half-time;
  }
  &.visible {
    opacity: 1;
    animation: simpleFadeIn $animation-half-time;
  }

  .about-main {
    border: $border-style;
    display: flex;
    font-size: $big-body-font-size;
    img {
      border-right: $border-style;
      object-fit: cover;
      max-width: 250px;
    }
    .about-text {
      flex: 1;
      padding: $big-body-padding;
      margin: 0;
    }
  }
  .contact {
    border: $border-style;
    border-top: none;
    padding: $big-body-padding;
    display: grid;
    grid-template-columns: minmax(120px, auto) 1fr minmax(120px, auto) 1fr;
    gap: 26px;
    .contactItem {
      font-size: $contact-label-font-size;
      display: flex;
      // justify-content: space-between;
      .type {
        text-transform: uppercase;
        font-weight: $contact-label-font-weight;
      }
      .value {
        flex-grow: 1;
        font-family: $contact-value-font-family;
        font-size: $contact-value-font-size;
        letter-spacing: $contact-value-letter-spacing;
        color: inherit;
        text-decoration: none;
        line-break: anywhere;
      }
    }
  }

  .siteInfo {
    height: 40px;
  }

  /* Big Desktop */
  @media (min-width: $big-desktop-min) {
    max-width: $max-container-width;
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: $sm-mobile-max) and (max-width: $sm-desktop-max) {
    .contact {
      grid-template-columns: minmax(200px, auto) 1fr;
    }
  }

  /* Phones */
  @media (max-width: $sm-mobile-max) {
    padding-bottom: $extra-mobile-bottom-padding;
    .about-main {
      flex-direction: column;
      font-size: $big-body-mobile-font-size;
      border-left: none;
      border-right: none;
      img {
        max-width: none;
        max-height: 200px;
        border-right: none;
        padding: 0 25%;
        @media (max-width: 500px) {
          padding: 0 12%;
        }
      }
      .about-text {
        border-top: $border-style;
        padding: $big-body-mobile-padding;
      }
    }
    .contact {
      border-left: none;
      border-right: none;
      grid-template-columns: minmax(100px, auto) 1fr;
      border-bottom: $border-style;
      .contactItem:last-child {
        .value {
          padding-bottom: 0;
        }
      }

      @media (max-width: 360px) {
        grid-template-columns: none;
        gap: 0;
      }
      .type {
        font-size: $contact-label-mobile-font-size;
      }
      .value {
        font-size: $contact-value-mobile-font-size;
        padding-bottom: 24px;
      }
    }
  }
}
