@font-face {
  font-family: "Authentic Sans";
  src: url(../fonts/AUTHENTICSans-60.otf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Authentic Sans";
  src: url(../fonts/AUTHENTICSans-90.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Authentic Sans";
  src: url(../fonts/AUTHENTICSans-130.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url(../fonts/AUTHENTICSans-Condensed-150.otf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Authentic Sans Condensed";
  src: url(../fonts/AUTHENTICSans-Condensed-60.otf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url(../fonts/AUTHENTICSans-Condensed-90.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Authentic Sans Condensed";
  src: url(../fonts/AUTHENTICSans-Condensed-130.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Authentic Sans";
  src: url(../fonts/AUTHENTICSans-150.otf);
  font-style: normal;
  font-weight: 800;
}