@use "variables.scss";
@use "fonts.scss";

@use "404.scss" as errorPage;
@use "home.scss";
@use "about.scss";
@use "work.scss";
@use "workItem.scss";
@use "workView.scss";
@use "imageScroller.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  letter-spacing: variables.$big-body-letter-spacing;
  font-family: "Authentic Sans";
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: variables.$text-color-main;
  background: variables.$background-color;
  a {
    color: #a584bd;
  }
  
}
