@import "./variables.scss";
@import "./fonts.scss";

@import "./404.scss";
@import "./home.scss";
@import "./about.scss";
@import "./work.scss";
@import "./workItem.scss";
@import "./workView.scss";
@import "./imageScroller.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  letter-spacing: $big-body-letter-spacing;
  font-family: "Authentic Sans";
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  // display: flex;
  // justify-content: center;
  color: $text-color-main;
  background: $background-color;
  a {
    color: #a584bd;
  }
  
}
