.main {
  border: 4px solid lavenderblush;
  width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    animation: initialLoad 2s;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 44px;
    .name {
      font-family: "Authentic Sans Condensed";
      letter-spacing: 1.5%;
    }
    .initialSelect {
      font-weight: 800;
    }
    .selected {
      animation: select 1.5s;
      font-weight: 800;
      order: 2;
    }
    .deselected {
      animation: deselect 1.5s;
      order: 3;
      cursor: pointer;
    }
  }
}

@keyframes select {
  0% {
    opacity: 1;
    font-weight: 400;
    order: 3;
  }
  40% {
    opacity: 0;
    order: 3;
  }
  50% {
    order: 2;
    font-weight: 800;
  }
  60% {
    opacity: 0;

    order: 2;
  }
  100% {
    opacity: 1;
    order: 2;
  }
}
@keyframes deselect {
  0% {
    opacity: 1;
    font-weight: 800;
    order: 2;
  }
  40% {
    opacity: 0;
    order: 2;
  }
  50% {
    order: 3;
    font-weight: 400;
  }
  60% {
    opacity: 0;
    order: 3;
  }
  100% {
    opacity: 1;
    order: 3;
  }
}
@keyframes initialLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Big Desktop */
@media (min-width: 1024px) {
  .main {
    max-width: 1024px;
  }
}

/* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {
//   .grid {
//     grid-template-columns: repeat(2, 50%);
//   }
// }

// @media (prefers-color-scheme: dark) {
//   .vercelLogo {
//     filter: invert(1);
//   }

//   .logo {
//     filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
//   }
// }

// @keyframes rotate {
//   from {
//     transform: rotate(360deg);
//   }
//   to {
//     transform: rotate(0deg);
//   }
// }
