@import "./animations.scss";

.main {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    animation: initialLoad 2s;
    display: flex;
    padding-bottom: 24px;
    width: 100%;
    font-size: $name-font-size;
    letter-spacing: 0.015em;
    .name {
      font-family: "Authentic Sans Condensed";

      width: 50%;
    }
    .pages {
      display: flex;
      justify-content: space-between;
      width: calc(50% + 148px);
      .initialSelect {
        font-weight: 800;
      }
      .selected {
        animation: select 1.5s;
        font-weight: 800;
        order: 2;
      }
      .deselected {
        animation: deselect 1.5s;
        order: 3;
        cursor: pointer;
      }
    }
  }
}

/* Big Desktop */
@media (min-width: $big-desktop-min) {
  .main {
    max-width: 1220px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: $sm-mobile-max) and (max-width: $sm-desktop-max) {
  .main {
  }
}

/* Phones */
@media (max-width: $sm-mobile-max) {
  .main {
    padding: 0;
    // width
    .header {
      font-size: $name-mobile-font-size;
      flex-direction: column;
      padding: 24px;
      margin: 0;
      .name {
        padding-bottom: 12px;
      }
      .pages {
        width: 100%;
      }
    }
  }
}
