// GLOBAL
$background-color: #ffffff;
$text-color-main: #000000;
$border-style: 4px solid #000;
$extra-mobile-bottom-padding: 40px;

$animation-time: 1.2s;
$animation-half-time: 0.6s;
$animation-fast-time: 0.4s;

// BREAKPOINTS
$big-desktop-min: 1440px;
$sm-desktop-max: 1024px;
$sm-mobile-max: 768px;

// MAX WIDTH OF MAIN CONTAINER
$max-container-width: 1220px;

// MAIN TYPOGRAPHY STYLES
$big-body-font-size: 26px;
$big-body-padding: 30px;
$big-body-letter-spacing: 0.015em;

$big-body-mobile-font-size: 20px;
$big-body-mobile-padding: 26px;

// HEADER
$name-font-size: 44px;
$name-mobile-font-size: 32px;

// ABOUT

// CONTACT
$contact-label-font-size: 24px;
$contact-label-mobile-font-size: 20px;
$contact-label-font-weight: 600;

$contact-value-font-size: 20px;
$contact-value-mobile-font-size: 18px;
$contact-value-letter-spacing: 0.05em;
$contact-value-font-family: "Authentic Sans Condensed";

// WORK

// ITEM
$workItem-height: 62px;

$workItem-name-font-size: 22px;
$workItem-name-mobile-font-size: 20px;
$workItem-name-font-weight: 600;

$workItem-tag-font-size: 18px;
$workItem-tag-font-family: "Authentic Sans Condensed";

// IMAGE SCROLLER
$imgScroller-count-font-family: "Authentic Sans Condensed";
$imgScroller-count-font-size: 26px;
$imgScroller-count-mobile-font-size: 18px;
$imgScroller-count-font-weight: 600;

$imgScroller-caption-font-family: "Authentic Sans Condensed";
$imgScroller-caption-font-size: 18px;
$imgScroller-caption-mobile-font-size: 14px;
