@import "./animations.scss";
.work {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  // animations
  &.hidden {
    opacity: 0;
    animation: workFadeOut $animation-half-time;
    height: 0;
    overflow: hidden;
  }
  &.visible {
    opacity: 1;
    animation: workFadeIn $animation-time;
  }
}
