.workView {
  border: $border-style;
  border-top: none;
  flex: 1;
  display: flex;
  .images {
    border-right: $border-style;
    width: 50%;
  }
  .textContainer {
    flex: 1;
    font-size: $big-body-font-size;
    position: relative;
    width: 100%;
    .text {
      padding: $big-body-padding;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}
