@use "variables";

.workItem {
  width: 100%;
  height: variables.$workItem-height;
  border: variables.$border-style;
  display: flex;
  cursor: pointer;
  .name,
  .year {
    font-size: variables.$workItem-name-font-size;
    font-weight: variables.$workItem-name-font-weight;
    width: 94px;
  }
  .name {
    width: calc(50% - variables.$workItem-height);
  }
  .tags {
    font-family: variables.$workItem-tag-font-family;
    font-size: variables.$workItem-tag-font-size;
    flex: 1;
  }
  .indicator {
    width: calc(variables.$workItem-height - 8px);
    padding: 0;
    justify-content: center;
    svg {
      margin: -2px;
      opacity: 0;
      transition: 0.5s;
    }
    .dot {
      transition: 0.25s;
      border: variables.$border-style;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
  }

  > div {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  &:not(:first-child) {
    border-top: none;
  }
  div:not(:last-child) {
    border-right: variables.$border-style;
  }
  img {
    border-right: variables.$border-style;
    height: variables.$workItem-height;
    width: variables.$workItem-height;
    z-index: -1;
    &:first-child {
      margin-top: -4px;
    }
  }

  &:hover {
    .indicator {
      svg {
        opacity: 1;
      }
      .dot {
        background-color: variables.$text-color-main;
      }
    }
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: variables.$sm-mobile-max) and (max-width: variables.$sm-desktop-max) {
  }

  /* Phones */
  @media (max-width: variables.$sm-mobile-max) {
    border-right: none;
    border-left: none;

    div:not(:last-child) {
      border-right: none;
    }
    .name {
      flex: 1;
      font-size: variables.$workItem-name-mobile-font-size;
      padding: 16px;
    }
    .indicator {
      border-left: variables.$border-style;
      svg {
        margin-left: -4px;
        // margin-top: -4px;
        opacity: 1;
      }
    }
    .year,
    .tags {
      display: none;
    }
  }
}
